{% extends "layout.html" %}
{% set classnames = "about" %}

{% block content %}

	{% include 'partials/headers/default.html' with data.header only %}
	
	<main class="about">
		<section class="what-we-do">
			<div class="inner">
				<h2 class="h--lg is-color-white">What We Do.</h2>
				<h4 class="h--md is-color-grey-dark is-marginless">The traditional agency approach is over 60 years old and is no longer relevant to modern audiences; so we created a new one that is.</h4>
				<div class="grid-container grid-container--text">
					<div class="item">
						<span class="art">01</span>
						{% include 'partials/caption.html' with { 'text1': 'Understanding', 'text2': '01', 'styles': 'is-white is-lg' } only %}
						<p class="txt--lg is-color-white">We believe that people ultimately just want to feel understood — to know that someone out there just gets them. Because as humans, being truly understood, emotionally connects us and reassures us we’re not alone. We’ve based our entire process on this idea and it informs everything we do. From research, to ideation, to execution, it’s what leaves our clients and their audience saying, “you just get me.”</p>
					</div>
					<div class="item">
						<span class="art">02</span>
						{% include 'partials/caption.html' with { 'text1': 'Empathy', 'text2': '02', 'styles': 'is-white is-lg' } only %}
						<p class="txt--lg is-color-white">We embrace empathy and deeply integrate it into our culture and process. Because before we are businesses or brands, clients or customers, we are human. And we're all connected by a need to be understood. Empathy helps us gain that understanding and serves as the foundation of our creative process. It reveals the one small truth in every story, that connects with people, resonates with them, and helps them feel understood.</p>
					</div>
					<div class="item">
						<span class="art">03</span>
						{% include 'partials/caption.html' with { 'text1': 'Emotional Connection', 'text2': '03', 'styles': 'is-white is-lg' } only %}
						<p class="txt--lg is-color-white">In the age of online access and endless choice, focusing your marketing on features and benefits alone makes your business an easily-replaceable commodity. Forging an emotional connection with your audience through understanding makes your business much harder to replace because it goes beyond the functional realm of features and benefits an into the emotional realm of loyalty and trust. So customers become ambassadors, initiatives become experiences, and enduring connections are created.</p>
					</div>
				</div>
				<div class="grid-container grid-container--list">
					<div class="item">
						<h5 class="h--sm is-color-white">Lorem Ipsum</h5>
						<ul class="list list--dashed is-color-white">
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
						</ul>
					</div>
					<div class="item">
						<h5 class="h--sm is-color-white">Lorem Ipsum</h5>
						<ul class="list list--dashed is-color-white">
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
						</ul>
					</div>
					<div class="item">
						<h5 class="h--sm is-color-white">Lorem Ipsum</h5>
						<ul class="list list--dashed is-color-white">
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
							<li>Lorem Ipsum</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="how-we-do-things">
			<div class="inner">
				<h2 class="h--lg">How we do things.</h2>
				<h4 class="h--md is-color-grey-dark">We created Spark+Aster because we wanted to elevate the relationship between client and agency, and we think we’ve done just that.</h4>
				<p class="summary is-marginless">We’ve been around long enough to know just how strained the client agency relationship can be. Cordial at best, adversarial at worst, it is fortified with endless layers of process and client sign-off developed to minimize agency risk rather than maximizing agency creativity. We do things a bit differently. You’ll notice it in all of our interactions. From initial kickoff to project launch, we prefer trust and common sense over rigid processes and excessive documentation. So when you engage with us we think you’ll find the relationship to be refreshingly different and decidedly “un-agency”.<br><br>Here are a few ways you’ll notice the differences.</p>
				<div class="grid-container grid-container--text">
					<div class="item">
						{% include 'partials/caption.html' with { 'text1': 'Revisions', 'styles': 'is-sm' } only %}
						<p class="txt--lg">We care for you and your business as if it was our own. Which means we want to hear from you — to discuss thoughts, share ideas, and align on concepts. As an agency, it’s the only way we can understand the nuances of your project, business, and audience. So be it a call, meeting, teleconference, or an impromptu studio pop-by, we never count — or charge for — meetings. Because you never know when that one small meeting could spark the next big idea.</p>
					</div>
					<div class="item">
						{% include 'partials/caption.html' with { 'text1': 'Meetings', 'styles': 'is-sm' } only %}
						<p class="txt--lg">What if Steve Jobs stopped perfecting a product after three rounds of revisions? Or Van Gogh stopped working on a painting, before it was finished? Luckily, neither ever did. And just like them, our goal is to create something that fulfills a vision, not an quota. So our process abandons the revision limit in favor of mutual trust and shared goals. We'll keep working until we’re both happy with the outcome. A bold thought for a creative agency, but one that reflects just how committed we are to making a difference.</p>
					</div>
					<div class="item">
						{% include 'partials/caption.html' with { 'text1': 'Schedules', 'styles': 'is-sm' } only %}
						<p class="txt--lg">We know that truly great creative ideas can’t be
		precisely planned. Yet this is what traditional agency project management tries to do — scheduling creative deliverables at the beginning of an engagement, when assumptions are highest and understanding is lowest. We believe the best creative outcomes happen when creativity is supported by a process with the flexibility to for good ideas to give way to better ones. So we’ve replaced rigid project schedules with rapid prototyping and an agile project workflow. It allows room for ideas to breathe, strategies to be refined, and opportunities to surface, while still providing you with weekly visibility on the progress of your project.</p>
					</div>
				</div>
				<div class="grid-container grid-container--agency-icons">
					<div class="item">
						<img src="/dist/img/icons/icon-connection.svg">
						<h6>Connection</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-inspiration.svg">
						<h6>Inspiration</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-love.svg">
						<h6>Love</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-care.svg">
						<h6>Care</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-joy.svg">
						<h6>Joy</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-guidance.svg">
						<h6>Guidance</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-artistry.svg">
						<h6>Artistry</h6>
					</div>
					<div class="item">
						<img src="/dist/img/icons/icon-empathy.svg">
						<h6>Empathy</h6>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
