{% extends "layout.html" %}
{% set classnames = "home" %}

{% block content %}

    <main class="index" id="fullpage">
    	


			    	<section class="section video">
			    	    <div class="video__container">
			    	        <video class="video__embed" autoplay muted playsinline>
			    	            <source src="/dist/vid/understanding.mp4" type="video/mp4">
			    	        </video>
			    	    </div>
			    	</section>
    	
			    	<section class="section we-understand fill-height">
				    	<div class="stage">
			    			<div class="inner">
			    			<h2 class="h--xl">We <span class="waypoint-anim" data-animation="anim-spark-text" data-offset="50%">Understand.</span></h2>
			    			<p>&nbsp;</p>
			    			<p style="line-height: 2; font-size:2em;">With a culture that considers audiences first as humans beings and a creative process underpinned by emotional intelligence, empathy, and the intrinsic value of human understanding, we help organizations navigate an increasingly dehumanized marketing landscape and connect with audiences in richer, more productive, and ultimately more human ways.</p>
			    		</div>
				    	</div>
			    	</section>
			
			    	<section class="section what-we-do fill-height">
				    	<div class="stage">
			    			<div class="inner">
			    			<h2 class="h--xl" style="margin-bottom: 1.9rem;">A <span  class="waypoint-anim" data-animation="anim-spark-text">Human</span> Approach.</h2>
			    			<h4 class="h--md is-color-grey-dark is-marginless">The importance of understanding, empathy, and human connection.</h4>
			    			<div class="grid-container grid-container--text">
			    				<div class="item">
			    					<span class="art">01</span>
			    					{% include 'partials/caption.html' with { 'text1': 'Understanding', 'text2': '01', 'styles': 'is-lg' } only %}
			    					<p class="txt--lg">We believe that people ultimately just want to feel understood. Because being truly understood connects us emotionally as human beings and reassures us we’re not alone. We’ve based our entire process on this idea and it informs everything we do.</p>
			    				</div>
			    				<div class="item">
			    					<span class="art">02</span>
			    					{% include 'partials/caption.html' with { 'text1': 'Empathy', 'text2': '02', 'styles': 'is-lg' } only %}
			    					<p class="txt--l">We embrace empathy and deeply integrate it into our culture and process. Because before we are businesses or brands, clients or customers, we are human. And we're all connected by a need to be understood. Empathy helps us gain a human understanding that serves as the foundation of our creative process.</p>
			    				</div>
			    				<div class="item">
			    					<span class="art">03</span>
			    					{% include 'partials/caption.html' with { 'text1': 'Human Connection', 'text2': '03', 'styles': 'is-lg' } only %}
			    					<p class="txt--lg">In the age of increasingly automated, algorithmic marketing, the need for businesses to forge more human connections with their audience has become essential.   We build these connections through a process and culture that treats people first as human beings, not as data sources and in doing so, create richer, more productive, and ultimately more human connections.  </p>
			    				</div>
			    			</div>
			    			{# <div class="grid-container grid-container--list">
			    				<div class="item">
			    					<h5 class="h--sm">Lorem Ipsum</h5>
			    					<ul class="list list--dashed">
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    					</ul>
			    				</div>
			    				<div class="item">
			    					<h5 class="h--sm">Lorem Ipsum</h5>
			    					<ul class="list list--dashed">
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    					</ul>
			    				</div>
			    				<div class="item">
			    					<h5 class="h--sm">Lorem Ipsum</h5>
			    					<ul class="list list--dashed">
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    						<li>Lorem Ipsum</li>
			    					</ul>
			    				</div>
			    			</div> #}
							
			
			    		</div><!-- /inner -->
				    	</div>
			    	</section>
			
			    	<section class="section whats-in-a-name fill-height">
			    		<div class="stage">
				    		<div class="inner">
	
					    			<h2 class="h--xxl">What&rsquo;s in a <span class="waypoint-anim" data-animation="anim-spark-text" data-offset="50%">Name?</span></h2>
				    		</div>
			    		</div><!-- /stage -->
			    	</section> <!-- /whats-in-a-name -->

			    	<section class="section value-humanity fill-height">
			    		<div class="stage">
				    		<div class="inner">
					    			<h2 class="h--xxl">Humanity</h2>
				    		</div>
			    		</div><!-- /stage -->
			    	</section> <!-- /value-humanity -->

			    	<section class="section value-empathy fill-height">
			    		<div class="stage">
				    		<div class="inner">
					    			<h2 class="h--xxl">Empathy</h2>
				    		</div>
			    		</div><!-- /stage -->
			    	</section> <!-- /value-empathy -->

			    	<section class="section value-love fill-height">
			    		<div class="stage">
				    		<div class="inner">
					    			<h2 class="h--xxl">Love</h2>
				    		</div>
			    		</div><!-- /stage -->
			    	</section> <!-- /value-love -->

			    	<section class="section value-connection fill-height">
			    		<div class="stage">
				    		<div class="inner">
					    			<h2 class="h--xxl">Connection</h2>
				    		</div>
			    		</div><!-- /stage -->
			    	</section> <!-- /value-connection -->

			    	<section class="section ready-to-connect fill-height">
			    		<div class="stage">
				    		<div class="inner">
				    			<h2 class="h--xxl">Ready to be <span class="waypoint-anim" data-animation="anim-spark-text" data-offset="50%">Understood?</span></h2>
				    			<p style="line-height: 2; font-size:2em;">Connect with us today.</p>
			
			
				    		</div>
							<img class="actor waypoint-anim coffee" data-animation="anim-coffee-slide" data-offset="-80%" src="/dist/img/elements/coffee.png">
							<div class="actor waypoint-anim phone" data-animation="anim-phone-slide" data-offset="100%">
								<img id="iphone" src="/dist/img/elements/phone.png">
								<div id="map" class="mapboxgl-map">
								</div>
							</div>
							
			<!-- 				<img class="actor waypoint-anim phone" data-animation="anim-phone-slide" data-offset="100%" src="/dist/img/elements/phone.png"> -->
			
			
			    		</div>
			    	</section>
			    	


    </main>

    <!-- Single fixed Stella instance for all value sections -->
    <div id="stella-container">
		<img class="actor node-stella aster" id="aster1" src="/dist/img/stella/normalized/Aster1.svg">
		<img class="actor node-stella aster" id="aster2" src="/dist/img/stella/normalized/Aster2.svg">
		<img class="actor node-stella aster" id="aster3" src="/dist/img/stella/normalized/Aster3.svg">
		<img class="actor node-stella aster" id="aster4" src="/dist/img/stella/normalized/Aster4.svg">
		<img class="actor node-stella spark" id="spark1" src="/dist/img/stella/normalized/Stella1.svg">
		<img class="actor node-stella spark" id="spark2" src="/dist/img/stella/normalized/Stella2.svg">
		<img class="actor node-stella spark" id="spark3" src="/dist/img/stella/normalized/Stella3.svg">
		<img class="actor node-stella spark" id="spark4" src="/dist/img/stella/normalized/Stella4.svg">
    </div>


{% endblock %}
       