{% extends "layout.html" %}
{% set classnames = "case-study case-study--goldwell" %}
{% set color = "#D4ABAF" %}

{% block content %}

	<!-- Hero Section (CSS Scroll Snap) -->
	<section class="work-hero" data-video-index="0">
		<div class="work-hero__background">
			<video class="work-hero__background-video work-hero__background-video--1 active" autoplay muted loop playsinline>
				<source src="/dist/vid/reconstruct_tease.mp4" type="video/mp4">
			</video>
			<video class="work-hero__background-video work-hero__background-video--2" autoplay muted loop playsinline>
				<source src="/dist/vid/repower_tease.mp4" type="video/mp4">
			</video>
		</div>

		<div class="work-hero__content">
			<div class="work-hero__text">
				<h1 class="work-hero__title">
					The Elements<br>of <span class="work-hero__title-accent">Style.</span>
				</h1>
				<hr class="work-hero__divider">
				<p class="work-hero__subtitle">Launching an all new haircare line for Goldwell USA.</p>
			</div>

			<div class="work-hero__media">
				<div class="work-hero__media-frame">
					<video class="work-hero__media-video work-hero__media-video--1 active" autoplay muted loop playsinline>
						<source src="/dist/vid/reconstruct_tease.mp4" type="video/mp4">
					</video>
					<video class="work-hero__media-video work-hero__media-video--2" autoplay muted loop playsinline>
						<source src="/dist/vid/repower_tease.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</section>

	<!-- Traditional Scrolling Content -->
	<main id="case-study-content" class="case-study work-content">
		<div class="inner inner--lg">

			{% include "partials/_case_pager.twig" %}

			<div class="content-block is-summary">
				<div class="is-centered">
					<hr class="is-xl is-vert is-centered">
					<h2 class="h--xl">Lorem Ipsum<br><span style="color: {{ color }}">consectetur</span></h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
				</div>
			</div>

			<div class="media-block is-full">
				<button class="icon icon--triangle is-clickable" data-vid="261366121">
					{{ svg('icon-triangle') }}
				</button>
				<img src="/dist/img/work/goldwell/media-1.jpg">
			</div>	

			<div class="media-block grid-container grid-container--media">
				<div class="item">
					<button class="icon icon--triangle is-clickable" data-vid="261365234">
						
					</button>
					<img src="/dist/img/work/goldwell/media-2.jpg">
				</div>
				<div class="item">
					
					</button>
					<img src="/dist/img/work/goldwell/media-3.jpg">
				</div>
			</div>

			<div class="media-block is-full">
				<img src="/dist/img/work/goldwell/media-4.jpg">
			</div>

		</div><!-- /inner -->
	</main>

{% endblock %}
