
// Fonts
//@import url('//fast.fonts.net/cssapi/28bd3dbc-f5c5-4ace-923b-36c66076e8ed.css');
@import url('https://fonts.googleapis.com/css?family=Lora');

$fonts-path: '../fonts';

@font-face{
	font-family:"Neue Haas Grotesk W01 Disp_n5";
	src:url("../fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot")
}
@font-face{
	font-family:"Neue Haas Grotesk W01 Disp";
	src:url("../fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix");
	src:url("../fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot"),url("../fonts/1d2142cb-3e68-48df-b188-f1ac45a47a8b.woff2") format("woff2"),url("../fonts/9dc6c76b-0260-4292-af1d-0bc9eecbded2.woff") format("woff"),url("../fonts/ed18aa48-557e-4d1f-a53c-58399a7c1bc4.ttf") format("truetype"),url("../fonts/5b9068b3-d518-4b0a-a5a2-1aa25714df22.svg#5b9068b3-d518-4b0a-a5a2-1aa25714df22") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family:"Neue Haas Grotesk W01 Disp_n6";
	src:url("../fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot")
}
@font-face{
   font-family:"Neue Haas Grotesk W01 Disp";
   src:url("../fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix");
   src:url("../fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot"),url("../fonts/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2") format("woff2"),url("../fonts/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff") format("woff"),url("../fonts/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf") format("truetype"),url("../fonts/1baaf9ba-feec-45ca-a826-7bcf9f8e5b21.svg#1baaf9ba-feec-45ca-a826-7bcf9f8e5b21") format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face{
    font-family:"Neue Haas Grotesk W01 Disp_n7";
    src:url("../fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot")
}
@font-face{
	font-family:"Neue Haas Grotesk W01 Disp";
	src:url("../fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix");
	src:url("../fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot"),url("../fonts/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2") format("woff2"),url("../fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff") format("woff"),url("../fonts/0deba34f-9242-462b-a359-74e95714f821.ttf") format("truetype"),url("../fonts/31c5f190-f4d8-436b-99bf-0561dd448586.svg#31c5f190-f4d8-436b-99bf-0561dd448586") format("svg");
	font-weight: 700;
	font-style: normal;
}


@import "helpers/**/*";

@import "base/reset";
@import "base/base";
@import "base/typography";

@import "layout/**/*";

@import "components/**/*";

@import "pages/**/*";

@import "base/anim";

//@import "vendors/**/*";


